<c-accordion-item [visible]="true" >
  <ng-template cTemplateId="accordionHeader">
    <div *ngIf="!showSelectedEnvironment" >
      <strong>Ambientes </strong>
    </div>

    <div class="container" *ngIf="showSelectedEnvironment">
      <label  >
        Ambiente seleccionado : <strong>{{ambiente.id}} <br></strong>
        Capacidad :             <strong>{{ambiente.capacity}} </strong>

      </label>
      <div md="5" *ngIf="isDisabled">
        <button cButton id="btnChangeSelection" color="danger" variant="outline" shape="rounded-pill" size="sm" type="submit" (click)="changeSelectedEnvironment()">
          Cambiar selección
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template cTemplateId="accordionBody">
    <c-row class="mb-3">

      <!-- <label cLabel  >
        Filtrar por tipo de ambiente :
      </label> -->
      <c-col md="5">
      <c-dropdown>
        <button cButton cDropdownToggle color="light">
          Filtrar tipo ambiente
        </button>
        <ul cDropdownMenu>
          <li><h6 cDropdownHeader>Tipos de ambiente</h6></li>
          <li *ngFor="let tipo of environmentTypes"><a (click)="updateTableEnvironments(tipo)" cDropdownItem>{{tipo}}</a></li>

        </ul>
      </c-dropdown>
      </c-col>


    </c-row>


    <table cTable  >
      <thead cTableColor="dark">
      <tr>
        <th *ngFor="let c of columns">{{c}} </th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let ambiente of environments" >
        <td>{{ambiente.id}} </td>
        <td>{{ambiente.environmentType}} </td>
        <td>{{ambiente.name}} </td>
        <td>{{ambiente.location}}</td>
        <td>{{ambiente.capacity}} </td>
        <td>{{ambiente.facultyId}} </td>
        <td><input [disabled]="isDisabled" #checkboxes  id="selectedEnv"  type="checkbox" (click)="onSelectingEnvironment(ambiente,$event)">  </td>
      </tr>
      </tbody>

    </table>
    <app-paginador
        (pageChanged)="loadTableEnvironmentsSchedule($event)" [totalItems]="totalItems" [totalNumberPage]="totalNumberPage" [pageSize]="pageSize"

    ></app-paginador>
  </ng-template>

</c-accordion-item>
