<form  [formGroup]="form" (ngSubmit)="setValues()" >


  <c-row class="mb-3">
   <label cLabel class="col-sm-2 col-form-label" for="tipoEvento">
     Tipo de evento:
   </label>
   <c-col md="5">
    <select cSelect id="validationCustom04"  (change)="onSelectedEVENT($event)" >
      <option value="">Escoge un tipo de evento</option>
      <option *ngFor="let tipo of eventTypes" value="{{tipo}}" >{{tipo}} </option>
    </select>
    <!-- <c-form-feedback [valid]="false">Porfavor proveer un tipo de ambiente valido</c-form-feedback> -->
  </c-col>

  <c-col md="4">
    <!-- <input formControlName="environmentType"  required type="text" readonly="true" [value]="selectedValueType" [hidden]="!isEdit"/> -->
    <input formControlName="tipoEvento"  touched type="text" readonly="true" [hidden]="!isEdit" required/>
    <div class="alert alert-danger" *ngIf="isEnvironmentTypeInvalid">
      <div *ngIf="tipoEvento?.hasError('required')">
       El tipo de Evento es requerido
      </div>
    </div>
    <!-- <c-form-feedback [valid]="false">Porfavor proveer un tipo de ambiente valido</c-form-feedback> -->
  </c-col>

 </c-row>
 <c-row class="mb-3">
   <label cLabel class="col-sm-2 col-form-label" for="eventName">
     Nombre del evento:
   </label>
   <div class="col-sm-10">
     <input formControlName="eventName" id="eventName" type="text"  required />
   </div>
   <div class="alert alert-danger" *ngIf="isEventNameInvalid">
     <div *ngIf="eventName?.hasError('required')">
       Nombre del evento es requerido
     </div>
   </div>
 </c-row>
 <c-row class="mb-3">
   <label cLabel class="col-sm-2 col-form-label" for="eventEncargado" >
     Nombre del encargado:
   </label>
   <div class="col-sm-10">
     <input formControlName="eventEncargado" id="eventEncargado" type="text"  required />
   </div>
   <div class="alert alert-danger" *ngIf="isEventEncargadoInvalid">
     <div *ngIf="eventEncargado?.hasError('required')">
       Nombre del encargado es requerido
     </div>
   </div>
 </c-row>
 <c-row class="mb-3">
   <label cLabel class="col-sm-2 col-form-label" for="cedulaEncargado">
     Cedula del encargado:
   </label>
   <div class="col-sm-10">
     <input formControlName="cedulaEncargado" id="cedulaEncargado" type="number"  required />
   </div>
   <div class="alert alert-danger" *ngIf="isCedulaEncargadoInvalid">
     <div *ngIf="cedulaEncargado?.hasError('required')">
       Cedula es requerido
     </div>
     <!--<div *ngIf="capacity?.hasError('min')">
       Capacidad debe ser mayor o igual a 2
     </div>-->
   </div>
 </c-row>

 <c-row class="mb-3">
  <label cLabel class="col-sm-2 col-form-label" for="descripcion">
    Descripcion:
  </label>
  <div class="col-sm-10">
    <input formControlName="descripcion" id="descripcionEvento" type="text"  required />
  </div>
  <div class="alert alert-danger" *ngIf="isDescripcionInvalid">
    <div *ngIf="descripcion?.hasError('required')">
      La descripcion es requerida
    </div>
  </div>
 </c-row>

 <hr style="height: 20px;" style="width: 75%;" style="border-color:rgb(20, 100, 248)(136, 255, 0)(0, 204, 255);">

 <c-row class="mb-3">
  <label cLabel class="col-sm-2 col-form-label" for="fechaInicio">
    Fecha Inicio:
  </label>
  <div class="col-sm-10">
    <input formControlName="fechaInicio" id="fechasInicio" type="date"  required />
  </div>
  <div class="alert alert-danger" *ngIf="isFechaInicioInvalid">
    <div *ngIf="fechaInicio?.hasError('required')">
      La fecha inicio es requerida
    </div>
  </div>
 </c-row>

 <c-row class="mb-3">
  <label cLabel class="col-sm-2 col-form-label" for="weeks">
    Numero de semanas
  </label>
  <div class="col-sm-10">
    <input formControlName="weeks" id="weeks" type="text"  required />
  </div>
  <div class="alert alert-danger" *ngIf="isWeeksInvalid">
    <div *ngIf="weeks?.hasError('required')">
      La cantidad de semanas es requerida
    </div>
  </div>
 </c-row>

 <div>

 <c-row class="mb-3">
  <label cLabel class="col-sm-2 col-form-label" for="horaInicio">
    Hora Inicio:
  </label>
  <div class="col-sm-10">
    <input formControlName="horaInicio" id="horaInicio" type="text"  required />
  </div>
  <div class="alert alert-danger" *ngIf="isHoraInicioInvalid">
    <div *ngIf="horaInicio?.hasError('required')">
      La hora Inicio es requerida
    </div>
  </div>
 </c-row>

 <c-row class="mb-3">
  <label cLabel class="col-sm-2 col-form-label" for="horaFin">
    Hora Fin:
  </label>
  <div class="col-sm-10">
    <input formControlName="horaFin" id="horaFin" type="text"  required />
  </div>
  <div class="alert alert-danger" *ngIf="isHoraFinInvalid">
    <div *ngIf="horaFin?.hasError('required')">
      La hora fin es requerida
    </div>
  </div>
 </c-row>

 <c-row class="mb-3">
  <label cLabel class="col-sm-2 col-form-label" for="recurrencia">
    Recurrencia:
  </label>
  <div class="alert alert-danger" *ngIf="isRecurrenciaInvalid">
    <div *ngIf="recurrencia?.hasError('required')">
      La recurrencia es requerida
    </div>
  </div>
 </c-row>

  <c-col md="5">
    <select cSelect id="validationCustom04"  (change)="onSelectedValued($event)" >
      <option value="">Escoge una recurrencia</option>
      <option *ngFor="let tipo of recurrenciaTypes" value="{{tipo}}" >{{tipo}} </option>
    </select>
    <!-- <c-form-feedback [valid]="false">Porfavor proveer un tipo de ambiente valido</c-form-feedback> -->
  </c-col>


  <c-col md="4">
    <!-- <input formControlName="environmentType"  required type="text" readonly="true" [value]="selectedValueType" [hidden]="!isEdit"/> -->
    <input formControlName="recurrencia"  touched type="text" readonly="true" [hidden]="!isEdit" required/>
    <div class="alert alert-danger" *ngIf="isEnvironmentTypeInvalid">
      <div *ngIf="recurrencia?.hasError('required')">
       La recurrencia es requerida
      </div>
    </div>
    <!-- <c-form-feedback [valid]="false">Porfavor proveer un tipo de ambiente valido</c-form-feedback> -->
  </c-col>


  <button type="submit" cButton color="primary" size="lg">
    Consultar Ambientes disponibles
  </button>

 <br>
 <div class="d-grid gap-2 ">
 </div>
</div>
 <c-col xs="12">
  <c-card class="mb-4">

    <c-card-body>

      <div class="elemnt" *ngIf="visible" >

        <app-environment-list
          [formEnvironmentAvailability]="formEnvironmentAvailability"
          (envioAmbientes)="agregarAmbiente($event)"
        ></app-environment-list>

      </div>

      <br>
    </c-card-body>
  </c-card>
</c-col>

<button cButton color="primary" size="lg" [disabled]= "" (click)="getInfo()">
  Guardar Reserva
</button>
<br>



<button cButton color="primary" size="lg" [disabled]= "" (click)="getInfo()">
  Finalizar
</button>

</form>
