:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

}

section {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 420px;
}
c-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover {
  // cursor: all-scroll;
  width: 450px;
  opacity: 1;
  filter: contrast(120%);
}
.contentHead{
  text-align: center;
}
.titulo{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #a80000;;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main{
  margin: 0;
  padding: 0;
}
// c-card{
//   border-radius: 0px;
//   border-top: 0px;
// }