<c-card class="main-card">
  <c-card-header >
    <div class="contentHead">
      <strong class="titulo">Bienvenido a la gestión de horarios de Unicauca</strong>
    </div>
  </c-card-header>

  <c-card-body class="main">
    <div class="container">
      <section class="">
        <img src='../../../assets/dashboard/Facultad de ingenierias.jpg'>
        <img src='../../../assets/dashboard/facultad de contables.jpg'>
        <img src='../../../assets/dashboard/Facultad de artes.jpg'>
        <img src='../../../assets/dashboard/Facultad de derecho.jpg'>
        <img src='../../../assets/dashboard//Facultad de Educación.jpg'>
        <img src='../../../assets/dashboard/Facultad de humanas2.jpg'>
        <img src='../../../assets/dashboard/facultad de salud.jpg'>
      </section>
    </div>
  </c-card-body>
</c-card>