
  <c-card-header>
    <strong>Horario del ambiente {{ambiente.id}} : {{ambiente.name}} </strong>
  </c-card-header>
  


  <div class="container">
    <div class="table-container">

  
  <table>
    <thead>
      <tr>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let hora of horasDia">
        <tr>
          <td>{{ hora }}</td>
          <td class="drop-zone" (dragover)="allowDrop($event)" (drop)="drop($event, 1, hora)">
            <div *ngFor="let materia of getMaterias(1, hora); let i = index">
              <div class="materia-container">
                <div class="materia">{{ materia }}</div>
                <button class="eliminar-btn" (click)="removeMateria(1, hora, i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="drop-zone" (dragover)="allowDrop($event)" (drop)="drop($event, 2, hora)">
            <div *ngFor="let materia of getMaterias(2, hora); let i = index">
              <div class="materia-container">
                <div class="materia">{{ materia }}</div>
                <button class="eliminar-btn" (click)="removeMateria(2, hora, i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="drop-zone" (dragover)="allowDrop($event)" (drop)="drop($event, 3, hora)">
            <div *ngFor="let materia of getMaterias(3, hora); let i = index">
              <div class="materia-container">
                <div class="materia">{{ materia }}</div>
                <button class="eliminar-btn" (click)="removeMateria(3, hora, i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="drop-zone" (dragover)="allowDrop($event)" (drop)="drop($event, 4, hora)">
            <div *ngFor="let materia of getMaterias(4, hora); let i = index">
              <div class="materia-container">
                <div class="materia">{{ materia }}</div>
                <button class="eliminar-btn" (click)="removeMateria(4, hora, i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="drop-zone" (dragover)="allowDrop($event)" (drop)="drop($event, 5, hora)">
            <div *ngFor="let materia of getMaterias(5, hora); let i = index">
              <div class="materia-container">
                <div class="materia">{{ materia }}</div>
                <button class="eliminar-btn" (click)="removeMateria(5, hora, i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="drop-zone" (dragover)="allowDrop($event)" (drop)="drop($event, 6, hora)">
            <div *ngFor="let materia of getMaterias(6, hora); let i = index">
              <div class="materia-container">
                <div class="materia">{{ materia }}</div>
                <button class="eliminar-btn" (click)="removeMateria(6, hora, i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
    </div>
</div>
