body{
  margin-top:20px;
}
.bg-light-gray {
  background-color: #e0e8f8;
}
.table-container {
  width: 95%;
  overflow-x: auto ;
  height: 100%;
  margin: center;
}
.container {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  height: 800px; 
  
}
.contenedor{
  border: 1px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}


.drop-zone {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
}

.materia-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 5px;
}

.materia {
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.eliminar-btn {
  
  border: none;
  
  padding: 5px;
 
}

.eliminar-btn i {
  font-size: 14px;
}

.eliminar-btn i.fa-trash {
  margin-right: 5px;
}

.materias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.materia-box {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: move;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
  box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
  box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
  box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
  box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
  box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
  box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
  box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
  background-color: #02c2c7
}

.bg-orange {
  background-color: #e95601
}

.bg-green {
  background-color: #5bbd2a
}

.bg-yellow {
  background-color: #e5d600
}

.bg-pink {
  background-color: #ee3d9b
}

.bg-purple {
  background-color: #8043e9
}

.bg-lightred {
  background-color: #e96545
}

.bg-forest.box-shadow {
  box-shadow: 0px 5px 0px 0px #00a56d
}

.bg-forest {
  background-color: #1cbf84
}

.bg-sea.box-shadow {
  box-shadow: 0px 5px 0px 0px #055871
}

.bg-sea {
  background-color: #3da5c9
}

.bg-light.box-shadow {
  box-shadow: 0px 5px 0px 0px #f2f2f2
}

.bg-light {
  background-color: #ffffff
}
