<head>
  <!-- Otros elementos del encabezado -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<c-card>
  <c-card-header>
    <strong>Horario del ambiente {{ambiente.id}} : {{ambiente.name}} {{ambiente.environmentType}} </strong>
  </c-card-header>
  <c-card-body>
    <div class="container">
      <br>
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead cTableColor="info">
            <tr class="bg-light-gray">
              <th class="text-uppercase" *ngFor="let header of headers ">{{header}} </th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let hora of horasDia ">

              <td class="align-middle">{{hora}}</td>

              <td *ngFor="let dia of weekDays" class="drop-zone" (dragover)="allowDrop($event)"
                (drop)="drop($event, weekDayToInteger(weekDays, dia), hora,horario.startingTime,horario.endingTime,dia, ambiente.id) ">
                
                <div id="franja" *ngFor="let horario of horariosAmbienteColor; ">
                  <div *ngIf="timeInRange(horario.startingTime,horario.endingTime,hora)">
                    <div *ngIf="horario.day == dia.toUpperCase() ">
                      <div
                        class="{{horario.color}} padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">
                        <span>{{horario.course.subject.subjectCode}}</span>

                      </div>
                      <div class="margin-10px-top font-size14"><strong><span>Curso:{{horario.course.courseGroup}}</span>
                        </strong> </div>
                      <button class="eliminar-btn"
                        (click)="confirmRemoveMateriaa(weekDayToInteger(weekDays, dia), hora,horario.id)">
                        <i class="fas fa-trash"></i>
                      </button>


                    </div>
                  </div>
                </div>

                <div *ngFor="let materia of getMaterias(weekDayToInteger(weekDays, dia), hora); let i = index">
                  <div class="materia-container">
                    <div class="materia">{{ materia }}</div>
                    <button class="eliminar-btn"
                      (click)="confirmRemoveMateria(weekDayToInteger(weekDays, dia), hora, i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>

                </div>


              </td>
              <ng-template cTemplateId="accordionBody">

              </ng-template>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </c-card-body>
</c-card>