.iedit {
  background-image: url('/src/assets/img/svg/edit.svg');
}

.ico {
  padding-left: 22px;
  background-position: center left;
  background-repeat: no-repeat;
  background-color: transparent;
}

a {
  margin: 0px 10px 0px 0px;
}

a>svg {
  width: 25px;
  height: 25px;
}

.titulo {
  color: #a80000;
}

.label-title {
  font-weight: bold;
}

.card-indicators {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;

  label{
    font-weight: bold;
  }
  .indicator-sin-iniciar {
    background-color: #DC3545;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 3px;
  }

  .indicator-en-proceso {
    background-color: #FFC107;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 3px;
  }

  .indicator-finalizado {
    background-color: #28A745;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 3px;
  }
}