<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>
  <c-sidebar-brand [brandFull]="{
      src:'assets/img/png/logo_unicauca.png',
      width: 150,
      height: 70,
      alt: 'Logo unicauca'
    }" [brandNarrow]="{

      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }" routerLink="dashboard">
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <c-sidebar-nav [navItems]="navItems" dropdownMode="close">

    </c-sidebar-nav>
  </perfect-scrollbar>
  <c-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar"></c-sidebar-toggler>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-0 d-print-none header header-sticky" position="sticky" sidebarId="sidebar">
  </app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 " style="margin-inline:0px">

    <router-outlet></router-outlet>
    <!-- </c-container> -->
  </div>
  <!--app footer-->
  <app-default-footer class="container-footer" style="margin:0; padding:0">

  </app-default-footer>
</div>