<div class="container-form">
  <form [formGroup]="form">
    <c-row class="mb-3">
      <label cLabel class="col-sm-2 col-form-label" for="resourceId" style="display: none;">
        Id:
      </label>
      <div class="">
        <input formControlName="id" type="text" value="" id="resourceId" readonly="true" style="display: none;" />
      </div>
    </c-row>
    <c-row class="mb-3">
      <label cLabel class="col-sm-2 col-form-label" for="resourceName">
        Nombre:
      </label>
      <div class="">
        <input formControlName="name" id="resourceName" type="text" required />
      </div>
      <div class="alert alert-danger" *ngIf="isNameInvalid">
        <div *ngIf="name?.hasError('required')">
          Nombre es requerido
        </div>
        <div *ngIf="name?.hasError('minlength')">
          Nombre debe tener mas de 2 carácteres
        </div>
      </div>
    </c-row>
    <c-row class="mb-3">
      <label cLabel class="col-form-label" for="resourceType">
        Tipo recurso:
      </label>
      <div class="">
        <select cSelect id="validationCustom04" (change)="onSelectedValue($event)">
          <option value="">Escoge un tipo de recurso</option>
          <option *ngFor="let tipo of resourceTypes" value="{{tipo}}">{{tipo}} </option>
        </select>
      </div>
      <c-col md="4">
        <input formControlName="resourceType" touched type="text" readonly="true" [hidden]="!isEdit" required />
        <div class="alert alert-danger" *ngIf="isResourceTypeInvalid">
          <div *ngIf="resourceType?.hasError('required')">
            Tipo de recurso es requerido
          </div>
        </div>
      </c-col>
    </c-row>
  </form>
</div>