<div class="container">
    <p>Diligencie a continuacion solo uno de los campos para realizar la busqueda</p>
    
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="contenidoTextNombre" #textNombre>
    </div>
    
    <div class="form-group">
      <label for="Identificacion">Identificación:</label>
      <input type="text" id="Identificacion" name="nombre" [(ngModel)]="contenidoTextIdentificacion" #textIdentificacion>
    </div>
    
    <input id="btn-Filtro"type="submit" class="btn-upload-file" value="Busqueda Profesor">      
          
  </div>
