
<body>
  <div class="background"></div>
  <div class="card">
      <img class="logo" src="../../../../assets/png/unicauca.png"/>
      <h2>Cambiar contraseña</h2>
      <form class="form" [formGroup]="formChangePassword" >
          <!-- <input type="text" placeholder="usuario" formControlName="username" />
          <p *ngIf="(formChangePassword.get('username')?.touched ) && formChangePassword.get('username')?.invalid">{{getError("username")}}</p> -->

          <input type="password" placeholder="Password" formControlName="password"/>
          <p *ngIf="(formChangePassword.get('password')?.touched ) && formChangePassword.get('password')?.invalid">{{getError("password")}}</p>

          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"/>
          <p *ngIf="(formChangePassword.get('confirmPassword')?.touched ) && formChangePassword.get('confirmPassword')?.invalid">{{getError("confirmPassword")}}</p>

          <p *ngIf="(formChangePassword.invalid)" >{{"Error en el formulario"}}</p>

          <button class="sendBtn" type="submit" (click)="enviarCambioPassword()" [disabled]="formChangePassword.invalid" >Cambiar contraseña</button>

      </form>
      <footer>
      </footer>
  </div>
</body>
