<c-footer class="c-footer">
  <div class="container-text-footer">
    <p>
      Institución con Acreditación de Alta Calidad por 8 años (Resolución MEN 6218 de 2019)<br>
      Calle 5 Nº 4-70 - Teléfono +57 (602) 8209900 - Línea gratuita 018000 949020<br>
      NIT 891500319-2 - Popayán Colombia - Vigilada Mineducación
    </p>
  </div>
  <div class="powered-by">
    <p>
      Powered by
      <a href="https://www.unicauca.edu.co/" target="_blank">
        <span> Unicauca</span>
      </a>
    </p>
  </div>
</c-footer>