<c-row ngPreserveWhitespaces>

  <c-col xs="12">

    <!-- <c-row class="mb-3">

      <label cLabel class="col-sm-2 col-form-label" >
        Filtrar por tipo de ambiente :
      </label>
      <c-col md="5">
      <c-dropdown>
        <button cButton cDropdownToggle color="light">
          Selecciona tipo ambiente
        </button>
        <ul cDropdownMenu>
          <li><h6 cDropdownHeader>Tipos de ambiente</h6></li>
          <li *ngFor="let tipo of environmentTypes"><a (click)="updateTableEnvironments(tipo)" cDropdownItem>{{tipo}}</a></li>

        </ul>
      </c-dropdown>
      </c-col>

    </c-row> -->


    <table cTable>
      <thead cTableColor="primary">
      <tr>
        <th *ngFor="let c of columns">{{c}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ambiente of environments">
        <td>{{ambiente.id}} </td>
        <td>{{ambiente.environmentType}} </td>
        <td>{{ambiente.name}} </td>
        <td>{{ambiente.location}}</td>
        <td>{{ambiente.capacity}} </td>
        <td>{{ambiente.facultyId}} </td>
        
      </tr>
      </tbody>

    </table>
    <app-paginador
        (pageChanged)="loadTableEnvironments($event)" [totalItems]="totalItems" [totalNumberPage]="totalNumberPage" [pageSize]="pageSize"

    ></app-paginador>
  </c-col>

</c-row>
