<!-- Progreso de llenar el form -->
<c-progress class="mb-3">
  <c-progress-bar id="progressProgramSemester" [value]="progressMadeProgramSemester" variant="striped">
    {{progressMadeProgramSemester}}%
  </c-progress-bar>
  <c-progress-bar id="progressCreateForm" [value]="progressMadeForm" variant="striped" color="danger">
    {{progressMadeForm}}%
  </c-progress-bar>
</c-progress>
<!-- <div *ngIf="createFormIsValid">
  <button cButton color="success" size="lg" [disabled]= "!createFormIsValid" (click)="getInfo() ; onSaveSchedule()" >
    Guardar esta franja horaria
  </button>
</div> -->
<div class="grid-container">
  <div>
      <!-- Llama a before form y form -->
      <c-accordion [alwaysOpen]="false" class="shadow accordion-custom rounded-2 " #beforeFormAccordion>
        <c-accordion-item (click)="change()" >
          <ng-template cTemplateId="accordionHeader">
            <div *ngIf="!showSelectedProgramAndSemester" >
              <strong>Seleccionar programa y semestre </strong>
            </div>

            <div class="container" *ngIf="showSelectedProgramAndSemester">
              <label  >
                Programa seleccionado : <strong>{{program.name}}</strong> <br>
                Semestre : <strong>{{semester}} </strong>
              </label>
              <div md="5" >
                  <button cButton  id="btnChangeSelection" color="danger" variant="outline" shape="rounded-pill" size="sm" type="submit" (click)="changeShowForm()">
                    Cambiar Selección
                  </button>
              </div>
            </div>
          </ng-template>
          <ng-template cTemplateId="accordionBody" *ngIf="changeValue">
            <app-schedule-before-create-form
              
              #beforeForm
              (progress)="getProgressMadeProgramSemester($event)"
              (programa)="getSelectedProgram($event)" (semestre)="getSelectedSemester($event)"
              [changeSelected]="changeValue"
              >
            </app-schedule-before-create-form>

          </ng-template>
        </c-accordion-item>

        <c-accordion-item *ngIf="showSelectedProgramAndSemester" >
          <ng-template cTemplateId="accordionHeader">
            <!-- <div *ngIf="!showSelectedProgramAndSemester" > -->
              <strong>Crear Horario para un curso</strong>
            <!-- </div> -->


          </ng-template>
          <ng-template cTemplateId="accordionBody">
            <div class="container" *ngIf="showSelectedProgramAndSemester">
              <!-- <label cLabel class="col-sm-10 ">
              Los cursos del programa <strong>{{program.name}}</strong> del semestre <strong>{{semester}}</strong> son :
              </label> -->
            <!-- TODO poner aviso de que debe seleccionar 1 -->
            </div>
            <br>
            <!-- Llamar al form paxra crear un schedule el avance de este afecta el progress bar, se emite-->
            <!-- Se le envia programa y semestre y este emite ambiente para mostrar en schedule view
              y el progreso que afecta la barra de progreso
            -->
            <app-schedule-create-form
              #scheduleform
              (progress)="getProgressMadeForm($event)"
              (isFormValid)="getCreateFormIsValid($event)"
              (selectedEnvironment)="getSelectedEnvironment($event)"
              (scheduleCreated)="onSaveSchedule($event)"

              [selectedProgram]="program"
              [selectedSemester]="semester"

              >

            </app-schedule-create-form>

          </ng-template>
        </c-accordion-item>

      </c-accordion>
      <br>
  </div>



  <!-- vista del horario por dias -->
  <div *ngIf="showScheduleView">

    <app-schedule-view
      [ambiente]="environmentSelected"
    ></app-schedule-view>
  </div>
</div>

