.accordion {
  position: relative;
  width: 100%;
  transition: width 0.3s;
}

.tamano {
  width: 400px;
}

.tamano2 {
  width: 195%;
}

.accordion.closed {
  width: 40px;
}

.accordion-button {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.accordion-content {
  background-color: #fff;
  visibility: hidden;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: calc(100%);
}

.accordion:hover {
  width: 100%;
}

.accordion:hover .accordion-content {
  visibility: visible;
}

#btnChangeSelection {
  float: right;
}

label {
  float: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 0.35fr));
  justify-content: start; /* Añadido: Pegar el contenido a la izquierda */
}

.grid-container > div {
  text-align: center;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
