<div class="grid-container">
  <div class="tamano">
    <div class="shadow accordion-custom rounded-2" #beforeFormAccordion (mouseleave)="closeAccordion()">
      <button class="accordion-button"><strong>Seleccionar programa y semestre</strong></button>

      <div>
        <div *ngIf="!showSelectedProgramAndSemester">
          <app-schedule-before-create-form #beforeForm (progress)="getProgressMadeProgramSemester($event)"
            (programa)="getSelectedProgram($event)" (semestre)="getSelectedSemester($event)"
            [changeSelected]="changeValue">
          </app-schedule-before-create-form>
        </div>

        <div class="container" *ngIf="showSelectedProgramAndSemester">
          <label>
            Programa seleccionado: <strong>{{program.name}}</strong> <br>
            Semestre: <strong>{{semester}}</strong>
          </label>
          <div md="5">
            <button cButton id="btnChangeSelection" color="danger" variant="outline" shape="rounded-pill" size="sm"
              type="submit" (click)="changeShowForm()">
              Cambiar Selección
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" *ngIf="showSelectedProgramAndSemester">
      <button class="accordion-button" (dragstart)="onDragStart()" (dragend)="onDragEnd()">
        <strong>Crear Horario para un curso</strong>
      </button>
      <div class="accordion-content">
        <div class="container">
          <app-schedule-create-form #scheduleform (progress)="getProgressMadeForm($event)"
            (isFormValid)="getCreateFormIsValid($event)" (selectedEnvironment)="getSelectedEnvironment($event)"
            (scheduleCreated)="onSaveSchedule($event)" [selectedProgram]="program" [selectedSemester]="semester">
          </app-schedule-create-form>
        </div>
      </div>
    </div>
    
    <br>
  </div>
  
  <div *ngIf="showScheduleView" class="tamano2">
    <app-schedule-view #scheduleview (scheduleCreated)="onSaveSchedule($event)" [ambiente]="environmentSelected"
      [selectedProgram]="program" [selectedSemester]="semester"></app-schedule-view>
  </div>
</div>
