<body>
  <div class="background"></div>
  <div class="card">
      <img class="logo" src="../../../../assets/png/unicauca.png"/>
      <h2>SIMCA 3.0</h2>
      <form class="form" [formGroup]="formLogin" >
          <input type="text" placeholder="Usuario" formControlName="username" />
          <p *ngIf="(formLogin.get('username')?.touched || buttontouched) && formLogin.get('username')?.invalid">{{getError("email")}}</p>
          <input type="password" placeholder="Contraseña" formControlName="password"/>
          <p *ngIf="(formLogin.get('password')?.touched || buttontouched) && formLogin.get('password')?.invalid">{{getError("password")}}</p>
          <button type="submit" class="btn-login" (click)="enviarDatos()" >Iniciar sesión</button>
        <button  cButton color="ligth" size="sm" (click)="showDialog()" >Olvidé mi contraseña</button>
      </form>
      <footer>
      </footer>
  </div>

  <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Recuperar contraseña</h5>
      <button (click)="showDialog()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      Ingresa tu correo electronico registrado en la aplicación.
      <form class="form" [formGroup]="formPassword" >
        <input type="text" placeholder="usuario" formControlName="usuario" />
        <input type="text" placeholder="correo" formControlName="correo" />
      </form>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="showDialog() ;cleanForm()" cButton color="secondary">
        Cerrar
      </button>
      <button cButton color="primary" (click)="enviarCorreo();cleanForm()" >Enviar</button>
    </c-modal-footer>
  </c-modal>
</body>

