// sidebar styles
.sidebar {
    // background: #0A266F !important;
    background: $primary  !important;
}

.sidebar-brand {
    justify-content: start;
    padding-left: 22px;
}

c-card {
    border-radius: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
}