<c-card>
    <c-card-header>
      <strong class="titulo">{{title}} </strong>
    </c-card-header>
  
    <c-card-body>

      
      <strong class="cuerpo">seleccione la facultad :</strong>
        <br>
        <c-row class="mb-3">

            <c-col md="10">
              <select cSelect id="filtroFacultad"  (change)="onSelectedFacultad($event)" class="uppercase-text" >
                <option value="{{valDefecto}}">Selecciona una Facultad</option>
                <option *ngFor="let fac of listafacultades" value="{{fac.facultyId}}" 
                class="uppercase-text" >
                  {{fac.facultyName}} </option>
              </select>
            </c-col>  

        </c-row>
        
        <span *ngIf="isFacSelected">


          <strong class="cuerpo">Seleccione el Semestre :</strong><br>
          <div class="checkbox">
            <div class="form-check form-check-inline" *ngFor="let semestre of semestres; let first = first;">
              <input class="form-check-input" type="checkbox" id="{{semestre}}" value="{{semestre}}"  (change)="onSelectedSemestre($event)">
              <label class="form-check-label" for="{{semestre}}">{{semestre}}</label>
            </div>
          </div>

          <br><strong class="cuerpo">Seleccione el Programa :</strong>
          <table cTable  >
            <thead cTableColor="dark">
            <tr>
                <th *ngFor="let c of columnsTableProgramas">{{c}} </th>
            </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of listasProgramas; let i = index">
                <td>{{item.programId}}</td>
                <td>{{item.name}}</td>
                <td>
                  <input [disabled]="isDisabled" #checkboxes id="{{item.programId}}" type="checkbox" (click)="onSelectingPrograms(item, $event)">
                </td>     
              </tr>
            </tbody>
      
        </table>
          <div class="centrado">
            <input type="submit" class="btn-upload-file" value="Generar Reporte"(click)="GenerarReporte()">      
          </div>
        </span>


    </c-card-body>

  
  </c-card>