<c-card>
    <c-card-header>
      <strong class="titulo">{{title}} </strong>
    </c-card-header>
  
    <c-card-body>
      <strong class="cuerpo">seleccione la facultad :</strong>
        <br>
        <c-row class="mb-3">

            <c-col md="10">
              <select cSelect id="filtroFacultad"  (change)="onSelectedFacultad($event)" class="uppercase-text"  #radioInput>
                <option value="{{valDefecto}}">Selecciona una Facultad</option>
                <option *ngFor="let fac of listafacultades" value="{{fac.facultyId}}" 
                class="uppercase-text" >
                  {{fac.facultyName}} </option>
              </select>
            </c-col>  

        </c-row>
        
        <span *ngIf="isFacSelected">
          <strong class="cuerpo">Seleccione el Programa :</strong>
          <table cTable  #miTablaI>
            <thead cTableColor="dark">
            <tr>
                <th *ngFor="let c of columnsTableProgramas">{{c}} </th>
            </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of listasProgramas; let i = index">
                <td>{{item.programId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.department_id}}</td>
                <td>
                  <input [disabled]="isDisabled" #checkboxes id="{{item.programId}}" type="checkbox" (click)="onSelectingPrograms(item, $event)">
                </td>     
              </tr>
            </tbody>
      
        </table>
          <div class="centrado">
            <input type="submit" class="btn-upload-file" value="Generar Reporte"(click)="GenerarReporte()">      
          </div>
          
        <div *ngFor="let esquema of esquemas; let i=index">
          <h2 #miTablaTITULO>Esquema del Programa:{{getNombrePrograma(seleccionados[i])}} (COD:{{seleccionados[i]}})</h2>
          <table cTable #miTablaI>
   
                      <thead cTableColor="dark">
                      <tr>
                        <th *ngFor="let c of columnsReporte">{{ c }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of esquema; let i = index">
                        <td>{{ item.id }}</td>
                        <td>{{ item.day }}</td>
                        <td>{{ item.startingTime }}</td>
                        <td>{{ item.endingTime }}</td>
                        <td>{{ item.startingDate }}</td>
                        <td>{{ item.endingDate }}</td>
                        <td>{{ item.environmentName }}</td>
                        <td>{{ item.subjectName }}</td>
                        <td>{{ item.programName }}</td>
                        <td>{{ item.programColor }}</td>
                      </tr>
                    </tbody>
                 </table>
                  <!--<app-calendario #appCalendario [eventosParaCalendario]="esquema" [tituloImg]="miTablaTITULO.innerText"></app-calendario>
                <full-calendar [options]="calendaroptionsService.getCalendarOptions(esquema)"></full-calendar>-->
                </div>
        </span>
    </c-card-body>

  
  </c-card>
