<c-accordion-item >
  <ng-template cTemplateId="accordionHeader">
    <div *ngIf="!showSelectedCourse" >
      <strong>Cursos </strong>
    </div>

    <div class="container" *ngIf="showSelectedCourse && curso">
      <label>
        Curso: <strong>{{curso.subjectCode}}</strong> | Grupo: <strong>{{curso.courseGroup}}</strong><br>
        Semestre: <strong>{{semester}}</strong><br>
      </label>

    </div>
  </ng-template>
  <ng-template cTemplateId="accordionBody">
    <table cTable>
      <thead cTableColor="dark">
      <tr>
        <th *ngFor="let c of columns">{{c}} </th>
      </tr>
      </thead>
      <tbody>

        <div class="materias-container">
          <table>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>
                  <div class="materia-box" draggable="true" (dragstart)="dragStart($event, course)">
                    {{course.subjectCode}}&nbsp;{{course.courseGroup}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </tbody>

    </table>

  </ng-template>
</c-accordion-item>

