<c-card>
  <c-card-header>
    <strong class="titulo">Crear recurso</strong>
  </c-card-header>
  <c-card-body>
    <div class="container-form">
      <app-resources-form #child [isEdit]="false" (emitterForm)="getResourceForm($event)" [isSent]="isSent">
      </app-resources-form>
      <div class="container-btn-save">
        <button cButton color="primary" size="lg" [disabled]="child.form.invalid"
          (click)="child.setValues() ;getInfoResource();saveResource()">
          Guardar recurso
        </button>
      </div>
    </div>
  </c-card-body>
</c-card>