<c-card>
  <c-card-header>
    <strong class="titulo">Crear ambientes</strong>
  </c-card-header>
  <c-card-body>
    <!-- #child [isEdit]="false" (showAddResource)="showResource()" (emitterForm)="getEnvironmentForm($event)" -->
    <app-environment-form #child [isEdit]="false" (emitterForm)="getEnvironmentForm($event)" [isSent]="isSent">
    </app-environment-form>

    <div class="d-grid gap-2 ">
      <label for="">
        ¿Desea añadir recursos a este ambiente?
      </label>
      <button cButton color="primary" variant="outline" size="lg" type="submit" [disabled]="child.form.invalid"
        (click)="child.setValues();showResource()">
        Añadir recursos
      </button>
    </div>
  </c-card-body>
  <br>

  <!-- recursos para agregar al ambiente -->
  <c-card *ngIf="show">
    <c-card-body>
      <app-resources #listResources [isEdit]="false" (addedResource)="onAddedResource($event)"
        [environment]="environment" (removeResource)="onRemoveResource($event)"></app-resources>
    </c-card-body>
  </c-card>
  <div class="container-btn-save">
    <button cButton color="primary" size="lg" [disabled]="child.form.invalid"
      (click)="child.setValues(); getInfo(); onSaveEnvironment()">
      Guardar ambiente
    </button>
  </div>

</c-card>