<c-card>
  <c-card-header>
    <strong class="titulo">Crear ambiente de aprendizaje</strong>
  </c-card-header>
  <c-card-body>
    <!-- #child [isEdit]="false" (showAddResource)="showResource()" (emitterForm)="getEnvironmentForm($event)" -->
    <app-environment-form

    #child [isEdit]="false" (emitterForm)="getEnvironmentForm($event)"
    [isSent]="isSent"
    ></app-environment-form>

    <div class="d-grid gap-2 ">
      <button cButton color="primary" variant="outline" size="lg" type="submit" [disabled]="child.form.invalid" (click)="child.setValues();showResource()">
        Añadir recursos a este ambiente
      </button>
    </div>
  </c-card-body>

</c-card>
<br>

<!-- recursos para agregar al ambiente -->
<c-card *ngIf="show">
<!-- <c-card *ngIf="true"> -->

  <c-card-body>
    <app-resources
      #listResources [isEdit]="false" (addedResource)="onAddedResource($event)" [environment]="environment"
      (removeResource)="onRemoveResource($event)"
      ></app-resources>
  </c-card-body>
  <br>
</c-card>
<br>
<button cButton color="primary" size="lg" [disabled]= "child.form.invalid" (click)="child.setValues() ;getInfo() ; onSaveEnvironment()" >
  Guardar este ambiente
</button>

<!--
  cuadro de dialog resumiendo info del ambiente creado
 -->
<!-- <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Resumen del ambiente creado</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    {{showEnvironment}}

  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Seguir editando
    </button>
    <button cButton color="primary" (click)="onSaveEnvironment()" >Confirmar</button>
  </c-modal-footer>
</c-modal> -->
