<form  [formGroup]="form"  >


   <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="environmentId">
      Id
    </label>
    <div class="col-sm-10">
      <input formControlName="id"  type="text" value="" id="environmentId" readonly="true"/>
    </div>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="environmentName" >
      Nombre
    </label>
    <div class="col-sm-10">
      <input formControlName="name" id="environmentName" type="text"  required />
    </div>
    <div class="alert alert-danger" *ngIf="isNameInvalid">
      <div *ngIf="name?.hasError('required')">
        Nombre es requerido
      </div>
    </div>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="environmentLocation" >
      Ubicación
    </label>
    <div class="col-sm-10">
      <input formControlName="location" id="environmentLocation" type="text"  required/>
    </div>
    <div class="alert alert-danger" *ngIf="isLocationInvalid">
      <div *ngIf="location?.hasError('required')">
        Ubicacion es requerido
      </div>
    </div>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="environmentCapacity">
      Capacidad
    </label>
    <div class="col-sm-10">
      <input formControlName="capacity" id="environmentCapacity" type="number"  required />
    </div>
    <div class="alert alert-danger" *ngIf="isCapacityInvalid">
      <div *ngIf="capacity?.hasError('required')">
        Capacidad es requerido
      </div>
      <div *ngIf="capacity?.hasError('min')">
        Capacidad debe ser mayor o igual a 2
      </div>
    </div>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="environmentType">
      Tipo ambiente
    </label>

    <c-col md="5">
      <select cSelect id="validationCustom04"  (change)="onSelectedValue($event)" >
        <option value="">Escoge un tipo de ambiente</option>
        <option *ngFor="let tipo of environmentTypes" value="{{tipo}}" >{{tipo}} </option>
      </select>
      <!-- <c-form-feedback [valid]="false">Porfavor proveer un tipo de ambiente valido</c-form-feedback> -->
    </c-col>
    <c-col md="4">
      <!-- <input formControlName="environmentType"  required type="text" readonly="true" [value]="selectedValueType" [hidden]="!isEdit"/> -->
      <input formControlName="environmentType"   touched type="text" readonly="true" [hidden]="!isEdit" required/>
      <div class="alert alert-danger" *ngIf="isEnvironmentTypeInvalid">
        <div *ngIf="environmentType?.hasError('required')">
         Tipo de ambiente es requerido
        </div>
      </div>
      <!-- <c-form-feedback [valid]="false">Porfavor proveer un tipo de ambiente valido</c-form-feedback> -->
    </c-col>

  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="environmentFaculty">
      Facultad
    </label>

    <c-col md="5">
      <select cSelect id="validationCustom04"  (change)="onSelectedFaculty($event)" >
        <option value="">Escoge una facultad</option>
        <option *ngFor="let faculty of facultys" value="{{faculty}}">{{faculty}} </option>
      </select>
      <!-- <c-form-feedback [valid]="false">Porfavor proveer una facultad valida</c-form-feedback> -->
    </c-col>
    <c-col md="4">
      <!-- <input formControlName="faculty" id="environmentFaculty" required type="text" readonly="true" [value]="selectedFaculty"  [hidden]="!isEdit"/> -->
      <input formControlName="faculty" id="environmentFaculty"  type="text"  readonly="true"  [hidden]="!isEdit" required/>
      <div class="alert alert-danger" *ngIf="isFacultyInvalid">
        <div *ngIf="faculty?.hasError('required')">
         Facultad es requerido
        </div>
      </div>
      <!-- <c-form-feedback [valid]="false">Porfavor proveer una facultad valida</c-form-feedback> -->
    </c-col>
  </c-row>

  <br>
  <!-- <div class="d-grid gap-2 ">
    <button cButton color="danger" variant="outline" size="lg" type="submit" [disabled]="form.invalid" (click)="showResource()">Añadir recursos a este ambiente</button>
  </div> -->


</form>
